.about-service {
  margin-bottom: 49px;

  @media #{$tablet-only} {
    margin-bottom: 0;
  }

  @media #{$desktop-only} {
    margin-bottom: 0;
  }
}


.about-service__title {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media #{$not-mobile} {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 72px;
  }
}

.about-service__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media #{$mobile-only} {
    gap: 20px;
  }

  @media #{$tablet-only} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 0;
  }

  @media #{$desktop-only} {
    display: flex;
    flex-direction: row;
  }
}

.about-service__item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-color);
  position: relative;

  @media #{$not-mobile} {
    height: 280px;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  &--icon_leaf {
    --icon: url("../../icons/stack.svg#leaf");
  }

  &--icon_tub {
    --icon: url("../../icons/stack.svg#tub");
  }

  &--icon_eat {
    --icon: url("../../icons/stack.svg#eat");
  }

  &--icon_alarm {
    --icon: url("../../icons/stack.svg#alarm");
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background: var(--accent-color) var(--icon) no-repeat center / 40px;

    @media #{$not-mobile} {
      width: 80px;
      height: 80px;
    }
  }

  @media #{$not-mobile} {
    &::before {
      width: 80px;
      height: 80px;
    }
  }
}

.about-service__item:nth-child(1) {
  @media #{$tablet-only} {
    margin-right: 153px;
  }

  @media #{$desktop-only} {
    min-width: 230px;
    min-height: 280px;
    margin-right: 94px;
  }
}

.about-service__item:nth-child(2) {
  @media #{$tablet-only} {
    margin-right: 79px;
  }

  @media #{$desktop-only} {
    min-width: 246px;
    min-height: 280px;
    margin-right: 79px;
  }
}

.about-service__item:nth-child(3) {
  @media #{$tablet-only} {
    margin-right: 137px;
  }

  @media #{$desktop-only} {
    min-width: 247px;
    min-height: 280px;
    margin-right: 77px;
  }
}

.about-service__item:nth-child(4) {
  @media #{$tablet-only} {
    margin-right: 75px;
  }

  @media #{$desktop-only} {
    min-width: 249px;
    min-height: 280px;
  }
}

.item-number {
  @media #{$not-mobile} {
    z-index: 0;
    position: relative;
    font-family: var(--accent-font);
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    text-align: center;
    line-height: 1;
    color: #f2f2f2;
    bottom: 139px;
    left: 56px;
  }

  @media #{$mobile-only} {
    display: none;
  }
}

.item-title {
  @media #{$not-mobile} {
    z-index: 1;
    position: absolute;
    display: block;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    top: 111px;
    left: 0;
  }
}
