.catalog {
	display: flex;
	flex-direction: column;
}

.product-card__list {
	display: flex;
	flex-direction: column;

	@media #{$tablet-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 60px;
		row-gap: 60px;
	}

	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 80px;
		row-gap: 63px;
	}
}

.product-card-item {
	@media #{$mobile-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"card-image card-title"
			"card-image card"
			"card-button card-button";
		gap: 13px;
		margin-bottom: 33px;
	}

	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"card-image"
		"card-title"
		"card"
		"card-button";
}

.product-card__title {
	grid-area: card-title;
}

.product-card__image {
	grid-area: card-image;
}

.product-card__card {
	grid-area: card;
}

.product-card__link {
	grid-area: card-button;
}

.additional-section {
	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 79px;
	}
}

.additional-item {
	@media #{$tablet-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"additional-title additional-products"
			"additional-link additional-link";
	}

	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
			"additional-title additional-products additional-link"
			"additional-title additional-products additional-link"
			"additional-title additional-products additional-link"
			"additional-title additional-products additional-link";
	}
}

.additional-item__title {
	grid-area: additional-title;
}

.additional-products {
	grid-area: additional-products;
}

.additional__link {
	grid-area: additional-link;
}
