.example {
  display: flex;
  flex-direction: column;

  @media #{$desktop-only} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "example-title before-after"
      "example-description before-after"
      "result-list before-after";
  }
}

.example__slider {
  grid-area: before-after;
}

.example__title {
  grid-area: example-title;
}

.example__description {
  grid-area: example-description;
}
