.main-footer {
	display: flex;
	flex-direction: column;
}

.main-footer__adress {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 20px;
}

.main-footer__logo {
	height: 84px;
	align-items: center;
}

.main-footer__social {
	height: 62px;
	margin: 20px 0;
}

.social__list {
	display: flex;
	flex-direction: row;
	justify-items: center;
	gap: 24px;
}

.social__item {
	list-style: none;
}

.main-footer__copyright {
	margin: 0 20px;
	height: 94px;
}

.main-footer__wrapper {
	@media #{$not-mobile} {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
