.form {
	display: flex;
	flex-direction: column;
}

.form__date {
	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.cat-date {
	display: flex;
	flex-direction: column;
}

.cat-service {
	display: flex;
	flex-direction: column;
}

.owner-information {
	display: flex;
	flex-direction: column;

	@media #{$desktop-only} {
		flex-direction: row;
		justify-content: space-between;
	}
}

.comment {
	display: flex;
	flex-direction: column;
}

.extra {
	display: flex;
	flex-direction: column;

	@media #{$tablet-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.form__wrapper {
	display: flex;
	flex-direction: column;

	@media #{$not-mobile} {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}
