.promo {
	margin: 0;
	height: 100%;

	@media #{$mobile-only} {
		&::before {
			content: "";
			position: absolute;
			top: 57px;
			min-width: 320px;
			min-height: 302px;
			background:
				linear-gradient(
					rgb(104 183 56 / 0.85),
					rgb(104 183 56 / 0.85)
				),
				var(--bg-image) no-repeat center / cover;
		}

		@include bg-image("promo-cat");
	}

	@media #{$desktop-only} {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 720px;
			height: 694px;
			background:
				linear-gradient(
					rgb(104 183 56 / 0.85),
					rgb(104 183 56 / 0.85)
				),
				var(--bg-image) no-repeat left / cover;
		}

		@include bg-image("promo-cat");
	}
}

.promo__wrapper {
	min-height: 480px;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;

	@media #{$tablet-only} {
		margin-bottom: 54px;
	}
}

.promo__title {
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 1;
	color: #ffffff;
	text-align: center;
	margin: 27px 35px;
	margin-bottom: 25px;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 60px;
		line-height: 1;
		text-align: left;
		margin-top: 62px;
		margin-left: 118px;
		margin-bottom: 41px;
		color: #000000;
	}

	@media #{$desktop-only} {
		margin-top: 114px;
		margin-left: 190px;
		margin-bottom: 40px;
	}
}

.promo__description {
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	margin: 0;
	margin-bottom: 29px;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 20px;
		line-height: 1;
		text-align: left;
		margin-left: 120px;
		margin-bottom: 629px;
		margin-top: 0;
		color: #000000;
	}

	@media #{$desktop-only} {
		margin-left: 190px;
		margin-bottom: 52px;
	}
}

.promo__image {
	object-fit: contain;


	@media #{$tablet-only} {
		position: absolute;
		top: 317px;
		left: 30px;
	}

	@media #{$desktop-only} {
		position: absolute;
		top: 141px;
		left: 558px;
	}
}

.promo__link {
	height: 26px;
	margin: 3px 20px;
	margin-bottom: 20px;
	padding: 7px 44px;
	background-color: #68b738;
	grid-area: promo-link;
	list-style: none;
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #ffffff;

	@media #{$tablet-only} {
		position: absolute;
		top: 346px;
		left: 121px;
		font-weight: 400;
		font-size: 20px;
		line-height: 1;
		margin: 0;
		padding: 14px 26px;
	}

	@media #{$desktop-only} {
		margin: 0;
		margin-left: 190px;
		margin-bottom: 267px;
		width: 244px;
		height: 26px;
		padding: 0;
		font-weight: 400;
		font-size: 20px;
		line-height: 1;
		padding-top: 14px;
		padding-bottom: 14px;
	}
}
