.service {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media #{$desktop-only} {
		flex-direction: row;
		gap: 80px;
		margin-left: 110px;
		margin-right: 110px;
		margin-bottom: 71px;
	}
}

.service__type-service {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #f2f2f2;

	@media #{$tablet-only} {
		height: 372px;
		margin-left: 31px;
		margin-right: 31px;
	}

	@media #{$desktop-only} {
		min-width: 570px;
		height: 374px;
		margin: 0;
	}
}

.service__title {
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.54;
	text-transform: uppercase;
	color: #000000;
	margin-left: 91px;
	margin-bottom: 29px;
	position: relative;


	@media #{$tablet-only} {
		margin-left: 53px;
		margin-top: 77px;
		margin-bottom: 24px;
		font-family: "Oswald", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 1;
		text-transform: uppercase;
		color: #000000;
	}

	@media #{$desktop-only} {
		font-family: "Oswald", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 1;
		text-transform: uppercase;
		color: #000000;
		text-align: center;

		&::before {
			content: "";
			display: block;
			width: 36px;
			height: 50px;
			left: 0;
			background: url("../../icons/stack.svg#cat-sitting") no-repeat center / cover;
			padding-right: -40px;
		}
	}
}

.service__description {
	font-family: "Lato", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	color: #444444;
	margin-bottom: 38px;
	margin-left: 20px;
	padding-right: 33px;

	@media #{$tablet-only} {
		margin-bottom: 48px;
		font-family: "Lato", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		color: #000000;
		padding-right: 316px;
		margin-left: 52px;
	}
}


.service__link {
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	text-align: left;
	text-transform: uppercase;
	color: #000000;
	margin-left: 20px;
	text-decoration: none;
	height: 38px;

	@media #{$tablet-only} {
		font-family: "Oswald", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		text-transform: uppercase;
		color: #000000;
		margin-left: 53px;
	}

	&::after {
		content: "";
		display: inline-block;
		width: 32px;
		height: 10px;
		background: url("../../icons/stack.svg#arrow") no-repeat center / cover;


		@media #{$tablet-only} {
			margin-left: 15px;
			padding-top: 14px;
		}
	}
}
