.service {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  @media #{$tablet-only} {
    gap: 30px;
  }

  @media #{$desktop-only} {
    flex-direction: row;
    gap: 80px;
    margin-bottom: 71px;
  }
}

.service__type-service {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;

  @media #{$tablet-only} {
    height: 372px;
  }

  @media #{$desktop-only} {
    min-width: 570px;
    height: 374px;
    margin: 0;
  }

  @media #{$mobile-only} {
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 20px;
      right: 20px;
      height: 1px;
      bottom: 56px;
      background: #d9d9d9;
    }
  }
}

.service__title {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 29px;
  position: relative;

  @media #{$tablet-only} {
    text-align: left;
    margin-left: 53px;
    margin-top: 77px;
    margin-bottom: 24px;
    font-family: var(--accent-font);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    color: #000000;
  }

  @media #{$desktop-only} {
    font-family: var(--accent-font);
    font-style: normal;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    color: #000000;
    margin-left: 214px;
    margin-top: 77px;
    margin-bottom: 73px;

    &--icon_walking {
      --icon: url("../../icons/stack.svg#cat-sitting");
    }

    &--icon_sitting {
      --icon: url("../../icons/stack.svg#cat-walking");
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100px;
      height: 106px;
      left: -150px;
      top: -30px;
      background: var(--icon) no-repeat center / cover var(--accent-color);
    }
  }

  @media #{$mobile-only} {
    margin-left: 91px;

    &--icon_walking {
      --icon: url("../../icons/stack.svg#cat-sitting");
    }

    &--icon_sitting {
      --icon: url("../../icons/stack.svg#cat-walking");
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 53px;
      left: -72px;
      top: 1px;
      background: var(--icon) no-repeat center / cover var(--accent-color);
    }
  }
}

.service__description {
  margin: 0;
  font-family: var(--main-font);
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
  margin-bottom: 38px;
  margin-left: 20px;
  margin-right: 33px;


  @media #{$tablet-only} {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    margin-left: 52px;
    margin-right: 316px;
    margin-bottom: 48px;

    &--icon_walking {
      --icon: url("../../icons/stack.svg#cat-sitting");
    }

    &--icon_sitting {
      --icon: url("../../icons/stack.svg#cat-walking");
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 200px;
      height: 200px;
      right: -245px;
      top: -65px;
      background: var(--icon) no-repeat center / cover var(--accent-color);
    }
  }


  @media #{$desktop-only} {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    margin-left: 52px;
    margin-right: 61px;
    margin-bottom: 23px;
  }
}

.service__link {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  margin-left: 20px;
  text-decoration: none;
  height: 38px;
  position: relative;

  @media #{$not-mobile} {
    font-family: var(--accent-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 52px;
    margin-bottom: 57px;
  }

  @media #{$desktop-only} {
    margin-bottom: 55px;
  }


  @media #{$mobile-only} {
    /*&::before {
      content: "";
      position: absolute;
      left: 1px;
      top: -20px;
      width: 240px;
      height: 1px;
      background: #d9d9d9;
    }*/
  }

  &::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 10px;
    background: url("../../icons/stack.svg#arrow") no-repeat center / cover;


    @media #{$tablet-only} {
      margin-left: 15px;
      padding-top: 14px;
    }
  }
}
