.heading {
  font-family: var(--accent-font);
  font-weight: 400;
  text-transform: uppercase;

  &--lvl_2 {
    line-height: 1.5;
    font-size: 32px;
  }

  &--lvl_3 {
    line-height: 1.5;
    font-size: 24px;

    @media #{$not-mobile} {
      line-height: 1.5;
      font-size: 36px;
    }
  }
}


.text {
  font-family: var(--main-font);
  line-height: 1.29;
  font-size: 14px;

  @media #{$not-mobile} {
    line-height: 1.5;
    font-size: 16px;
  }
}


.link {
  line-height: 1.5;
  font-family: var(--accent-font);
  font-size: 16px;
  color: hsl(
    var(--link-h, 0deg)
    var(--link-s, 0%)
    var(--link-l, 0%)
    /
    var(--link-o, 1)
  );
  transition: color 0.1s ease-out;

  @media #{$not-mobile} {
    font-size: 20px;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  &:hover {
    --link-h: var(--accent-h);
    --link-s: var(--accent-s);
    --link-l: var(--accent-l);
  }

  &:active {
    --link-l: 0%;
    --link-o: 0.3;
  }
}


.service__list {
  display: grid;
  row-gap: 20px;
  column-gap: 80px;

  @media #{$not-mobile} {
    grid-template-columns: repeat(auto-fill, minmax(570px, 1fr));
    row-gap: 30px;
  }
}

.service__item {
  display: flow-root;
  padding: 20px;
  background-color: hsl(0 0% 95%);

  @media #{$not-mobile} {
    padding: 52px;
  }

  &--icon_sitting {
    --icon: url("../../icons/stack.svg#cat-sitting");
  }

  &--icon_walking {
    --icon: url("../../icons/stack.svg#cat-walking");
  }

  &--has_icon {
    --has-icon: "";
    --circle-diameter: calc(100% * 200 / 280);
    --circle-color: var(--accent-color);
    --icon-position: left;
    --icon-size: 70px;
    --icon-margin: -6px 9px 12px -8px;

    @media #{$tablet-only} {
      --icon-position: right;
    }

    @media #{$not-mobile} {
      --icon-size: 280px;
      --icon-margin: 0 -30px -10px 12px;
    }

    @media #{$desktop-only} {
      --icon-size: 140px;
      --icon-margin: -25px 42px 19px -20px;
    }
  }

  &::before {
    content: var(--has-icon, none);
    display: block;
    float: var(--icon-position);
    block-size: var(--icon-size);
    inline-size: var(--icon-size);
    margin: var(--icon-margin);
    background-image:
      var(--icon, var(--icon-a)),
      radial-gradient(
        closest-side,
        var(--circle-color) calc(var(--circle-diameter) - 0.5px),
        transparent calc(var(--circle-diameter) + 0.5px)
      );
  }
}

.service__title {
  margin-block-start: 10px;
  margin-block-end: 30px;

  @media #{$not-mobile} {
    margin-block-start: 16px;
    margin-block-end: 15px;
  }

  @media #{$desktop-only} {
    margin-block-end: 65px;
  }
}

.service__description {
  margin-inline: 0;
  margin-block: 18px;

  @media #{$not-mobile} {
    margin-block: 24px;
  }

  &--is_link {
    margin-block-start: 38px;
    margin-block-end: -2px;

    @media #{$mobile-only} {
      --has-separator: "";
      position: relative;
    }

    @media #{$not-mobile} {
      margin-block-start: 52px;
      margin-block-end: 5px;
    }

    @media #{$desktop-only} {
      margin-block-start: 27px;
      margin-block-end: 7px;
    }
  }

  &::before {
    content: var(--has-separator, none);
    position: absolute;
    inset-block-start: -16px;
    block-size: 1px;
    inline-size: 100%;
    background: hsl(0 0% 85%);
  }
}

.service__link {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  text-decoration: none;

  @media #{$not-mobile} {
    gap: 25px;
  }

  @media #{$desktop-only} {
    gap: 28px;
  }

  &:hover {
    --arrow-length: 32px;
  }

  &::after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    block-size: 24px;
    inline-size: 32px;
    background: currentColor;
    mask: url("data:image/svg+xml,<svg viewBox='0 0 32 24' xmlns='http://www.w3.org/2000/svg'><path d='M0 11v2h25v4l7-5-7-5v4z'/></svg>") no-repeat calc(var(--arrow-length, 24px) - 32px) / cover;
    transition: mask-position 0.1s ease-out;
  }
}
