<footer class="main-footer">
	<div class="main-footer__wraper">
		<div class="main-footer__adress adress">
			<b class="adress__title">ПРИГЛАШАЕМ<br> К СОТРУДНИЧЕСТВУ<br> ДИЛЕРОВ</b>
			<p class="adress__text">ул. Большая <br>Конюшенная, д. 19/8<br> Санкт-Петербург</p>
		</div>
		<div class="main-footer__map">
			<picture>
				<source media="(min-width: 1200px)" srcset="img/map-desktop@1x.png 1x, img/map-desktop@2x.png 2x" width="1440" height="400">
				<source media="(min-width: 768px)" srcset="img/map-tablet@1x.png 1x, img/map-tablet@2x.png 2x" width="768" height="400">
				<img src="img/map-phone@1x.png" srcset="img/map-phone@2x.png 2x" width="320" height="362" alt="Карта.">
			</picture>
			<picture>
				<source media="(min-width: 768px)" srcset="img/pin-tablet@1x.png 1x, img/pin-tablet@2x.png 2x" width="113" height="106">
				<img src="img/pin-phone@1x.png" srcset="img/pin-phone@2x.png 2x" width="57" height="53" alt="Метка на карте.">
			</picture>
		</div>
		<div class="main-footer__logo">
			<a class="main-footer_logo ">
				<img src="img/logo.svg#logotype" width="128" height="24" alt="Cat Energy.">
			</a>
		</div>
		<div class="main-footer__social social">
			<ul class="social__list">
				<li class="social__item">
					<a class="social__link social__link--vkontakte" href="https://vk.com/htmlacademy">Мы в контакте</a>
				</li>
				<li class="social__item">
					<a class="social__link social__link--youtube" href="https://www.youtube.com/user/htmlacademyru">Мы в Ютубе</a>
				</li>
				<li class="social__item">
					<a class="social__link social__link--telegram" href="https://t.me/htmlacademy">Мы в Телеграме</a>
				</li>
			</ul>
		</div>
		<div class="main-footer__copyright copyright">
			<a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">HTML Academy</a>
		</div>
	</div>

</footer>
