<header class="main-header">
	<div class="main-header__wrapper">
	<a class="main-header__logo">
		<picture>
			<source media="(min-width: 1200px)" srcset="img/logo.svg#desktop" width="70" height="66">
			<source media="(min-width: 768px)" srcset="img/logo.svg#tablet" width="61" height="50">
			<img src="img/logo.svg#mobile" width="34" height="38" alt="Cat Energy.">
		</picture>
		<img src="img/logo.svg#logotype" width="128" height="24" alt="Cat Energy.">
	</a>
	<button class="button button__toggle" type="button"></button>
	<span class="visually-hidden">Открыть меню</span>
	</div>
	<nav class="main-nav">
		<ul class="main-nav__list">
			<li class="main-nav__item">
				<a href="index.html">Главная</a>
			</li>
			<li class="main-nav__item">
				<a href="catalog.html">Каталог Продукции</a>
			</li>
			<li class="main-nav__item">
				<a href="form.html">Подбор Программы</a>
			</li>
		</ul>
	</nav>
</header>
