<header class="main-header">
	<a class="main-header_logo">
		<picture>
			<source media="(min-width: 1200px)" srcset="img/logotype-desktop.svg">
			<source media="(min-width: 768px)" srcset="img/logotype-tablet.svg">
			<img src="img/logotype-phone.svg" width="191" height="38" alt="Cat Energy">
		</picture>
	</a>
	<nav class="main-nav">
		<button class="main-nav__toggle" type="button">
			<span class="visually-hidden"> Открыть меню </span>
		</button>
		<ul class="main-nav__list">
			<li class="main-nav__item">
				<a href="index.html">Главная</a>
			</li>
			<li class="main-nav__item">
				<a href="catalog.html">Каталог Продукции</a>
			</li>
			<li class="main-nav__item">
				<a href="form.html">Подбор Программы</a>
			</li>
		</ul>
	</nav>
</header>
