@import "./global/media.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";
@import "./global/variables.scss";
@import "./global/global.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/promo.scss";
@import "./blocks/service.scss";
@import "./blocks/catalog.scss";
@import "./blocks/example.scss";
@import "./blocks/form.scss";
@import "./blocks/about-service.scss";
@import "./blocks/cat-date.scss";
@import "./blocks/cat-service.scss";
@import "./blocks/comment.scss";
@import "./blocks/extra.scss";
@import "./blocks/owner-information.scss";
@import "./blocks/result.scss";
@import "./blocks/social.scss";
