{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
  <section class="catalog page__centerer">
    <h1 class="title catalog__title">Каталог продукции</h1>
    <div class="catalog__product-card product-card">
      <ul class="product-card__list">
        <li class="product-card-item">
          <h2 class="title product-card__title">Cat energy pro 500 г</h2>
          {% include "templates/picture.twig" with {name: "catalog/chicken-500", class: "product-card__image", alt: "Корм со вкусом курицы 500г."} %}
          <div class="product-card__card card">
            <dl class="card__list">
              <div class="card__item">
                <dt class="card__name">Масса</dt>
                <dd class="card__value">500 г</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Вкус</dt>
                <dd class="card__value">Курица</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Цена</dt>
                <dd class="card__value">700 Р</dd>
              </div>
            </dl>
          </div>
          <a class="product-card__link button" href="#">Заказать</a>
        </li>
        <li class="product-card-item">
          <h2 class="title product-card__title">Cat energy pro 1000 г</h2>
          {% include "templates/picture.twig" with {name: "catalog/chicken-1000", class: "product-card__image", alt: "Корм со вкусом курицы 1000г."} %}
          <div class="product-card__card card">
            <dl class="card__list">
              <div class="card__item">
                <dt class="card__name">Масса</dt>
                <dd class="card__value">1000 г</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Вкус</dt>
                <dd class="card__value">Курица</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Цена</dt>
                <dd class="card__value">1000 Р</dd>
              </div>
            </dl>
          </div>
          <a class="product-card__link button" href="#">Заказать</a>
        </li>
        <li class="product-card-item">
          <h2 class="title product-card__title">Cat energy pro 500 г</h2>
          {% include "templates/picture.twig" with {name: "catalog/fish-500", class: "product-card__image", alt: "Корм со вкусом рыбы 500г."} %}
          <div class="product-card__card card">
            <dl class="card__list">
              <div class="card__item">
                <dt class="card__name">Масса</dt>
                <dd class="card__value">500 г</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Вкус</dt>
                <dd class="card__value">Рыба</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Цена</dt>
                <dd class="card__value">700 Р</dd>
              </div>
            </dl>
          </div>
          <a class="product-card__link button" href="#">Заказать</a>
        </li>
        <li class="product-card-item">
          <h2 class="title product-card__title">Cat energy pro 1000 г</h2>
          {% include "templates/picture.twig" with {name: "catalog/fish-1000", class: "product-card__image", alt: "Корм со вкусом рыбы 1000г."} %}
          <div class="product-card__card card">
            <dl class="card__list">
              <div class="card__item">
                <dt class="card__name">Масса</dt>
                <dd class="card__value">1000 г</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Вкус</dt>
                <dd class="card__value">Рыбы</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Цена</dt>
                <dd class="card__value">1000 Р</dd>
              </div>
            </dl>
          </div>
          <a class="product-card__link button" href="#">Заказать</a>
        </li>
        <li class="product-card-item">
          <h2 class="title product-card__title">Cat energy slim 500 г</h2>
          {% include "templates/picture.twig" with {name: "catalog/buckwheat-500", class: "product-card__image", alt: "Корм со вкусом гречки 500г."} %}
          <div class="product-card__card card">
            <dl class="card__list">
              <div class="card__item">
                <dt class="card__name">Масса</dt>
                <dd class="card__value">500 г</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Вкус</dt>
                <dd class="card__value">Гречка</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Цена</dt>
                <dd class="card__value">400 Р</dd>
              </div>
            </dl>
          </div>
          <a class="product-card__link button" href="#">Заказать</a>
        </li>
        <li class="product-card-item">
          <h2 class="title product-card__title">Cat energy slim 1000 г</h2>
          {% include "templates/picture.twig" with {name: "catalog/buckwheat-1000", class: "product-card__image", alt: "Корм со вкусом гречки 1000г."} %}
          <div class="product-card__card card">
            <dl class="card__list">
              <div class="card__item">
                <dt class="card__name">Масса</dt>
                <dd class="card__value">500 г</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Вкус</dt>
                <dd class="card__value">Гречка</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Цена</dt>
                <dd class="card__value">700 Р</dd>
              </div>
            </dl>
          </div>
          <a class="product-card__link button" href="#">Заказать</a>
        </li>
        <li class="product-card-item">
          <h2 class="title product-card__title">Cat energy slim 500 г</h2>
          {% include "templates/picture.twig" with {name: "catalog/rice-500", class: "product-card__image", alt: "Корм со вкусом риса 500г."} %}
          <div class="product-card__card card">
            <dl class="card__list">
              <div class="card__item">
                <dt class="card__name">Масса</dt>
                <dd class="card__value">500 г</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Вкус</dt>
                <dd class="card__value">Рис</dd>
              </div>
              <div class="card__item">
                <dt class="card__name">Цена</dt>
                <dd class="card__value">500 Р</dd>
              </div>
            </dl>
          </div>
          <a class="product-card__link button" href="#">Заказать</a>
        </li>
        <li class="product-card-item">
          <div class="catalog__all all">
            <h2 class="title all__title">показать еще 100500 товаров</h2>
            <p class="description all__description">На самом деле вкусов гораздо больше!</p>
            <a class="all__link button" href="#">показать все</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="catalog__additional additional">
      <h2 class="title additional__title">Дополнительные товары</h2>
      <div class="additional-section">
        <ul class="additional__list">
          <li class="additional-item">
            <h3 class="title additional-item__title">Сахарозаменитель</h3>
            <div class="additional__additional-products additional-products">
              <dl class="additional-products__list">
                <div class="additional-products__item">
                  <dt class="visually-hidden">Упаковка</dt>
                  <dd class="additional-products__value">1 упаковка (100 г)</dd>
                </div>
                <div class="additional-products__item">
                  <dt class="visually-hidden">Цена</dt>
                  <dd class="additional-products__value">200 Р</dd>
                </div>
              </dl>
            </div>
            <a class="additional__link button" href="#">Заказать</a>
          </li>
          <li class="additional-item">
            <h3 class="title additional-item__title">Питьевая вода</h3>
            <div class="additional__additional-products additional-products">
              <dl class="additional-products__list">
                <div class="additional-products__item">
                  <dt class="visually-hidden">Упаковка</dt>
                  <dd class="additional-products__value">5 литров</dd>
                </div>
                <div class="additional-products__item">
                  <dt class="visually-hidden">Цена</dt>
                  <dd class="additional-products__value">50 Р</dd>
                </div>
              </dl>
            </div>
            <a class="additional__link button" href="#">Заказать</a>
          </li>
          <li class="additional-item">
            <h3 class="title additional-item__title">Молоко</h3>
            <div class="additional__additional-products additional-products">
              <dl class="additional-products__list">
                <div class="additional-products__item">
                  <dt class="visually-hidden">Упаковка</dt>
                  <dd class="additional-products__value">1 литр</dd>
                </div>
                <div class="additional-products__item">
                  <dt class="visually-hidden">Цена</dt>
                  <dd class="additional-products__value">100 Р</dd>
                </div>
              </dl>
            </div>
            <a class="additional__link button" href="#">Заказать</a>
          </li>
          <li class="additional-item">
            <h3 class="title additional-item__title">Витамины</h3>
            <div class="additional__additional-products additional-products">
              <dl class="additional-products__list">
                <div class="additional-products__item">
                  <dt class="visually-hidden">Упаковка</dt>
                  <dd class="additional-products__value">1 упаковка (30 г)</dd>
                </div>
                <div class="additional-products__item">
                  <dt class="visually-hidden">Цена</dt>
                  <dd class="additional-products__value">300 Р</dd>
                </div>
              </dl>
            </div>
            <a class="additional__link button" href="#">Заказать</a>
          </li>
        </ul>
        <div class="catalog__gift gift">
          <div class="gift__wrapper">
          <h2 class="title gift__title">Закажите все и получите чехол для кота в подарок!</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
