{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<section class="catalog">
		<h1 class="title catalog__title">Каталог продукции</h1>
		<div class="catalog__product-card product-card">
			<ul class="product-card__list">
				<li class="product-card-item">
					<img src="img/catalog/chicken-500.jpg" width="68" height="86" alt="Корм со вкусом курицы 500г.">
					<h2 class="title product-card__title">CAT ENERGY PRO 500 Г</h2>
					<div class="product-card__card card">
						<dl class="card__list">
							<div class="card-item">
								<dt class="card-name">Масса</dt>
								<dd class="card-value">500 г</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Вкус</dt>
								<dd class="card-value">Курица</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Цена</dt>
								<dd class="card-value">700 Р</dd>
							</div>
						</dl>
					</div>
					<button class="button product-card__button" type="submit">ЗАКАЗАТЬ</button>
				</li>
				<li class="product-card-item">
					<img src="img/catalog/chicken-1000.jpg" width="68" height="86" alt="Корм со вкусом курицы 1000г.">
					<h2 class="title product-card__title">CAT ENERGY PRO 1000 Г</h2>
					<div class="product-card__card card">
						<dl class="card__list">
							<div class="card-item">
								<dt class="card-name">Масса</dt>
								<dd class="card-value">1000 г</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Вкус</dt>
								<dd class="card-value">Курица</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Цена</dt>
								<dd class="card-value">1000 Р</dd>
							</div>
						</dl>
					</div>
					<button class="button product-card__button" type="submit">ЗАКАЗАТЬ</button>
				</li>
				<li class="product-card-item">
					<img src="img/catalog/fish-500.jpg" width="68" height="86" alt="Корм со вкусом рыбы 500г.">
					<h2 class="title product-card__title">CAT ENERGY PRO 500 Г</h2>
					<div class="product-card__card card">
						<dl class="card__list">
							<div class="card-item">
								<dt class="card-name">Масса</dt>
								<dd class="card-value">500 г</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Вкус</dt>
								<dd class="card-value">Рыба</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Цена</dt>
								<dd class="card-value">700 Р</dd>
							</div>
						</dl>
					</div>
					<button class="button product-card__button" type="submit">ЗАКАЗАТЬ</button>
				</li>
				<li class="product-card-item">
					<img src="img/catalog/fish-1000.jpg" width="68" height="86" alt="Корм со вкусом рыбы 1000г.">
					<h2 class="title product-card__title">CAT ENERGY PRO 1000 Г</h2>
					<div class="product-card__card card">
						<dl class="card__list">
							<div class="card-item">
								<dt class="card-name">Масса</dt>
								<dd class="card-value">1000 г</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Вкус</dt>
								<dd class="card-value">Рыбы</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Цена</dt>
								<dd class="card-value">1000 Р</dd>
							</div>
						</dl>
					</div>
					<button class="button product-card__button" type="submit">ЗАКАЗАТЬ</button>
				</li>
				<li class="product-card-item">
					<img src="img/catalog/buckwheat-500.jpg" width="68" height="86" alt="Корм со вкусом гречки 500г.">
					<h2 class="title product-card__title">CAT ENERGY SLIM 500 Г</h2>
					<div class="product-card__card card">
						<dl class="card__list">
							<div class="card-item">
								<dt class="card-name">Масса</dt>
								<dd class="card-value">500 г</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Вкус</dt>
								<dd class="card-value">Гречка</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Цена</dt>
								<dd class="card-value">400 Р</dd>
							</div>
						</dl>
					</div>
					<button class="button product-card__button" type="submit">ЗАКАЗАТЬ</button>
				</li>
				<li class="product-card-item">
					<img src="img/catalog/buckwheat-1000.jpg" width="68" height="86" alt="Корм со вкусом гречки 1000г.">
					<h2 class="title product-card__title">CAT ENERGY SLIM 1000 Г</h2>
					<div class="product-card__card card">
						<dl class="card__list">
							<div class="card-item">
								<dt class="card-name">Масса</dt>
								<dd class="card-value">500 г</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Вкус</dt>
								<dd class="card-value">Гречка</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Цена</dt>
								<dd class="card-value">700 Р</dd>
							</div>
						</dl>
					</div>
					<button class="button product-card__button" type="submit">ЗАКАЗАТЬ</button>
				</li>
				<li class="product-card-item">
					<img src="img/catalog/rice-500.jpg" width="68" height="86" alt="Корм со вкусом риса 1000г.">
					<h2 class="title product-card__title">CAT ENERGY SLIM 500 Г</h2>
					<div class="product-card__card card">
						<dl class="card__list">
							<div class="card-item">
								<dt class="card-name">Масса</dt>
								<dd class="card-value">500 г</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Вкус</dt>
								<dd class="card-value">Рис</dd>
							</div>
							<div class="card-item">
								<dt class="card-name">Цена</dt>
								<dd class="card-value">500 Р</dd>
							</div>
						</dl>
					</div>
					<button class="button product-card__button" type="submit">ЗАКАЗАТЬ</button>
				</li>
			</ul>
		</div>
		<div class="catalog__all all">
			<h2 class="title all__title">ПОКАЗАТЬ ЕЩЕ 100500 ТОВАРОВ</h2>
			<p class="description all__description">На самом деле вкусов гораздо больше!</p>
			<button class="button all__button" type="submit">ПОКАЗАТЬ ВСЕ</button>
		</div>
		<div class="catalog__additional additional">
			<h2 class="title additional__title">Дополнительные товары</h2>
			<ul class="additional__list">
				<li class="additional-item">
					<h3 class="title additional-item__title">САХАРОЗАМЕНИТЕЛЬ</h3>
					<div class="additional__additional-products additional-products">
						<dl class="additional-products__list">
							<div class="additional-products-item">
								<dt class="additional-products-name">1 упаковка (100 г)</dt>
								<dd class="additional-products-value">200 Р</dd>
							</div>
						</dl>
					</div>
					<button class="button additional__button" type="submit">ЗАКАЗАТЬ</button>
				</li>
				<li class="additional-item">
					<h3 class="title additional-item__title">ПИТЬЕВАЯ ВОДА</h3>
					<div class="additional__additional-products additional-products">
						<dl class="additional-products__list">
							<div class="additional-products-item">
								<dt class="additional-products-name">5 литров)</dt>
								<dd class="additional-products-value">50 Р</dd>
							</div>
						</dl>
					</div>
					<button class="button additional__button" type="submit">ЗАКАЗАТЬ</button>
				</li>
				<li class="additional-item">
					<h3 class="title additional-item__title">МОЛОКО</h3>
					<div class="additional__additional-products additional-products">
						<dl class="additional-products__list">
							<div class="additional-products-item">
								<dt class="additional-products-name">1 литр</dt>
								<dd class="additional-products-value">100 Р</dd>
							</div>
						</dl>
					</div>
					<button class="button additional__button" type="submit">ЗАКАЗАТЬ</button>
				</li>
				<li class="additional-item">
					<h3 class="title additional-item__title">ВИТАМИНЫ</h3>
					<div class="additional__additional-products additional-products">
						<dl class="additional-products__list">
							<div class="additional-products-item">
								<dt class="additional-products-name">1 упаковка (30 г)</dt>
								<dd class="additional-products-value">300 Р</dd>
							</div>
						</dl>
					</div>
					<button class="button additional__button" type="submit">ЗАКАЗАТЬ</button>
				</li>
			</ul>
		</div>
		<div class="catalog__gift gift">
			<h2 class="title gift__title">Закажите все и получите чехол для кота в подарок</h2>
		</div>
	</section>
	Контент страницы каталога
</main>
{% endblock %}
