{% set pageId = 2 %} {% set permalink = pages[pageId].path %} {% extends
"./templates/_layout.twig" %} {% block main %}
<main class="main-container">
	<section class="form">
		<h1 class="title form__title">Подбор программы</h1>
		<p class="description form__description">
			Заполните анкету, и мы подберем<br />
			программу питания для вашего кота
		</p>
		<form action="form.html" method="post">
			<fieldset class="cat-date">
				<legend class="visually-hidden">Данные кота</legend>
				<label for="cat-name">ИМЯ:<span>*</span></label>
				<input type="text" id="cat-name" required />
				<label for="weight">ВЕС (КГ):<span>*</span></label>
				<input type="text" id="weight" required />
				<label for="age">ВОЗРАСТ (ЛЕТ):</label>
				<input type="text" id="age" />
			</fieldset>
			<fieldset class="cat-service">
				<legend class="visually-hidden">Выбор программы питания</legend>
				<input type="radio" id="slimming" value="slimming" name="cat_service" />
				<label for="slimming" class="light">ПОХУДЕНИЕ</label>
				<input
					type="radio"
					id="weight-gain"
					value="weight-gain"
					name="cat_service"
				/>
				<label for="weight-gain" class="light">НАБОР МАССЫ</label>
				<input type="radio" id="unknown" value="unknown" name="cat_service" />
				<label for="unknown" class="light">НЕ ЗНАЮ (НУЖЕН ВАШ СОВЕТ)</label>
			</fieldset>
			<fieldset class="owner-information">
				<legend>Контактные данные<br />(владельца кота)</legend>
				<label for="mail">E-MAIL:<span>*</span></label>
				<input type="email" id="mail" required />
				<label for="phone">ТЕЛЕФОН:<span>*</span></label>
				<input type="tel" id="phone" required />
			</fieldset>
			<div class="comment">
				<h2 class="title comment__title">Комментарий</h2>
				<label class="visually-hidden" for="comment">Комментарий</label>
				<textarea
					id="comment"
					placeholder="РАССКАЖИТЕ ОБО ВСЕХ ПОВАДКАХ КОТА"
				></textarea>
			</div>
			<fieldset class="extra">
				<legend>Дополнительно</legend>
				<input
					type="checkbox"
					id="sugar"
					value="extra_sugar"
					name="user_extra"
				/><label class="light" for="sugar">САХАРОЗАМЕНИТЕЛЬ</label>
				<input
					type="checkbox"
					id="water"
					value="extra_water"
					name="user_extra"
				/><label class="light" for="water">ПИТЬЕВАЯ ВОДА</label>
				<input
					type="checkbox"
					id="milk"
					value="extra_milk"
					name="user_extra"
				/><label class="light" for="milk">МОЛОКО</label>
				<input
					type="checkbox"
					id="vitamins"
					value="extra_vitamins"
					name="user_extra"
				/><label class="light" for="vitamins">ВИТАМИНЫ</label>
			</fieldset>
			<button type="submit">ОТПРАВИТЬ ЗАЯВКУ</button>
		</form>
		<small class="legend form__legend"> <span>* — Обязательные поля</span> </small>
	</section>
</main>
{% endblock %}
